.country-area{
    border: 1px solid lightgray;
    padding: 10px;
    margin : 10px;
    box-shadow: 10xp 10px 40px gray;
    border-radius: 10px;
    font-size: 20px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.country-area img{
    border-radius: 50%;
}